* {
  box-sizing: border-box;

  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: flex;
  float: right;
  /* height: 100vh; */
  /* justify-content: center;
  align-items: center; */
  /* margin: 2rem 0; */
  /* overflow: hidden; */
}

.search {
  position: relative;
  height: 5rem;
  margin: 1rem 3rem;
  width: 0;
}

.input {
  background-color: #fff;
  border: 0;
  font-size: 1.8rem;
  /* padding: 1.5rem; */
  height: 5rem;
  width: 0;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 2.4rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: 5rem;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.active {
  padding: 1.5rem;
  width: 20rem;
}

.search.active .btn {
  transform: translateX(19.8rem);
}

.bg {
  background: url(./natali-hordiiuk-oxPPC0xHVWU-unsplash.jpg) no-repeat center
    center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  margin: 2rem;
  z-index: -1;
  filter: blur(30px);
}

.loading-text {
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}
